#initially-hidden {
  display: none;
}
#fact-eti + p {
  display: none;
}
#fact-culture + p {
  display: none;
}

.clickable {
  color: darkblue;
  cursor: pointer;
}

.clickable:hover{
  text-decoration: underline;
}
